################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineBookstoreAPI0/OnlineBookstoreAPI0.csproj
/OnlineBookstoreAPI0/OnlineBookstoreAPI0.csproj
